{% extends "base.html" %}

{% block content %}
<div class="ml-5">
    <h4 class="mb-4">Here is your snippet hoard: </h4>
    <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
{% for snippet in snippets.all %}
    <li class="pb-1 pt-1 list-group-item"><a href="{% url 'display_a_snippet' snippet_pk=snippet.pk %}">{{ snippet.title }}</a></li>  
{% endfor %}
    </ul>
    </div>
    <a class="font-weight-bolder ml-4"href="{% url 'add_snippet' %}">Add a new Snippet</a>
</div>

{% endblock %}}