{% extends "base.html" %}

{% block content %}
<div class="ml-5 mb-5">
<h2>Search</h2>
<form action="{% url 'search' %}" method="GET">
    <input type="search" name="q" placeholder="Search all recipes" value="{{ query|default:'' }}">
    <p class="d-inline-block">
        <button type="submit">Search</button>
    </p>
</form>
<a href="{% url 'display_snippets' %}"><button class=" mb-3 btn btn-primary" type="button">Back to all Snippets <svg class="bi bi-arrow-90deg-left" width="1.25em" height="1.25em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.104 2.396a.5.5 0 0 1 0 .708L3.457 5.75l2.647 2.646a.5.5 0 1 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/><path fill-rule="evenodd" d="M2.75 5.75a.5.5 0 0 1 .5-.5h6.5a2.5 2.5 0 0 1 2.5 2.5v5.5a.5.5 0 0 1-1 0v-5.5a1.5 1.5 0 0 0-1.5-1.5h-6.5a.5.5 0 0 1-.5-.5z"/></svg></button></a>

{% if snippets is not None %}
<h4 class="mb-4">We dug up these snippets:</h4>
<div class="card" style="width:18rem">
    <ul class="list-group list-group-flush">
    {% for snippet in snippets %}
        {% if person_id == snippet.user.id %}
        <li class="list-group-item"><a href="{% url 'display_a_snippet' snippet_pk=snippet.pk %}">{{ snippet.title }}</a></li>
        {% endif %}
    {% empty %}
        <li class="pt-3">There are no snippets that match</li>
    {% endfor %}
    </ul>
</div>

    <h3>Other User's Snippets</h3>
    <div class="card" style="width:18rem">
    <ul class="list-group list-group-flush">
    {% for snippet in snippets %}
        {% if person_id != snippet.user.id %}
        <li class="list-group-item"><a href="{% url 'other_snippet' snippet_pk=snippet.pk %}">{{ snippet.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
    </div>
</div>
{% endif %}

{% endblock %}